<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo Jogo</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>

        <div class="modal-body">
          <form action="/create_jogo" method="post">
            <div class="form-group">
              <label for="datatime" class="col-form-label">data e hora</label>
              <input type="datetime-local" name="datatime" id="datatime" class="form-control" placeholder="data" required>
            </div>
            <div class="form-group">
              <label for="time1" class="col-form-label">Time 1:</label>
              <select class="form-control" name="time1_jogo" id="time1" required>
                  <option value="" selected="selected" disabled="disabled"></option>
                    <% times.forEach(time=> { %>
                        <option value="<%= time.id_equipe %>">
                          <%= time.nomeTime %> - <%= time.nomeCategoria %>  <%= time.sexo === 0 ? 'MASCU' : 'FEMI' %>
                        </option>
                    <% }) %>
              </select>
            </div>

            <div class="form-group">
                <label for="time2" class="col-form-label">Time 2</label>
                <select class="form-control" name="time2_jogo" id="time2" required>
                    <option value="" selected="selected" disabled="disabled"></option>
                    <% times.forEach(time=> { %>
                        <option value="<%= time.id_equipe %>">
                          <%= time.nomeTime %> - <%= time.nomeCategoria %> -  <%= time.sexo === 0 ? 'MASCU' : 'FEMIN' %>
                        </option>
                    <%})%>
                </select>
            </div>
            <div class="form-group">
                <label for="estadio" class="col-form-label">Estádio</label>
                <select class="form-control" name="estadio" id="estadio" required>
                    <option value="" selected="selected" disabled="disabled"></option>
                    <% estadios.forEach(estadio=> { %>
                        <option value="<%= estadio.idestadio %>">
                            <%= estadio.nome %>
                        </option>
                    <%})%>
                </select>
            </div>
            <input type="number" name="id_categoria" style="display: none;" value="<%= id_categoria %>">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  