<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= time.nome%>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="icon" href="/pictures/sistem/logo_podium.png" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <%- include('./components/header.ejs',{href:"times",titulo:"Times"})%>
    <main>
      <!-- latetal esqueda -->
      <article class="body">

        <section class="section card1">
          <div class="linha">
            <h4>
              <%= time.nome%>
            </h4>
            <a class="btn btn-secondary " href="/times">Times</a>
          </div>

          <div style="padding: 10px;" class="form">
            <form action="/updatetime" method="post">
              <div class="form-group">
                <label for="">Nome</label>
                <input type="text" class="form-control" name="nomeTime" value="<%= time.nome%>" required placeholder="">
              </div>
              <div class="form-group">
                <label for="">Cateroria</label>
                <select class="form-control" name="id_categoria" required>
                  <% categorias.forEach(categoria=> { %>
                    <option <% if (categoria.id_categoria===time.id_categoria) { %> selected="selected" <% } %>
                        value="<%= categoria.id_categoria %>">
                          <%= categoria.nome %> -
                            <% if (categoria.sexo===0) { %>
                              MASCULINO
                              <% } else if (categoria.sexo===1) { %>
                                FEMININO
                                <% } %>
                    </option>
                    <% }) %>
                </select>
              </div>
              <input type="number" name="id" value="<%= time.id_equipe%>" style="display: none;">
              <div class="linha" style="justify-content: end;">
                <button class="btn btn-primary " type="submit">Salvar</button>
              </div>
            </form>
          </div>
        </section>
      </article>
      <!-- lateral direita -->
      <article class="aside">
        <section class="section card1">
          <div class="linha">
            <h3 class="mb-4">Jogadores</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-bs-whatever="@mdo">Novo</button>
          </div>
          <%- include('./components/modal/jogadorModal.ejs')%>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Nome</th>
                  <th>Número</th>
                  <th>Posição</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="listaJogadores">
                <% jogadores.forEach(jogador=> { %>
                  <tr style="cursor:pointer;" onclick="window.location='/jogador?id=<%= jogador.id_jogador %>';">
                    <td>
                      <%= jogador.nome %>
                    </td>
                    <td>
                      <%= jogador.numero %>
                    </td>
                    <td>
                      <%= jogador.posicao %>
                    </td>
                    <td>
                      <a href="/delete_jogador?jogador=<%= jogador.id_jogador %>&time=<%= time.id_equipe%>"><i
                          class="fa fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
        </section>

        <section class="section card1">
          <div class="linha">
            <h3 class="mb-4">Jogos</h3>
          </div>
          <div class="coluna">
            <div style="display: flex; flex-wrap: wrap;  justify-content: space-evenly;">
              <% jogos.forEach(jogo=> { %>
                <div class="card bg-light mb-3" style="max-width: 25rem;">
                  <div class="card-header">
                    <div class="linha">
                      <div class="dropdown">
                        <button class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Transmissão
                        </button>
                        <ul class="dropdown-menu">
                          <% transmisoes.forEach(transmisao=> { %>
                            <li>
                              <a class="dropdown-item"
                                href="/transmisao?id=<%= transmisao.id_transmissao%>&idjogo= <%= jogo.idjogo %> ">
                                <%= transmisao.nome %>
                              </a>
                            </li>
                            <% })%>
                        </ul>
                      </div>
                      <a href="/deletejogo?id=<%= jogo.idjogo  %>"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-title">
                      <%= jogo.nome_time1 %> <strong>
                          <%= jogo.pontos_time1 %>
                        </strong> X <strong>
                          <%= jogo.pontos_time2 %>
                        </strong>
                        <%= jogo.nome_time2 %>
                    </p>
                    <div>
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <small>
                        <%= jogo.data %>
                      </small>
                    </div>
                    <div>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <small>
                        <%= jogo.estadio %>
                      </small>
                    </div>
                    <div>
                      <i class="fa fa-users" aria-hidden="true"></i>
                      <small>
                        <%= jogo.nomeCategoria %>
                      </small>
                      <i class="fa fa-venus-mars" aria-hidden="true"></i>
                      <small>
                        <%= jogo.sexo===0 ? 'MASCULINO' : 'FEMININO' %>
                      </small>
                    </div>
                  </div>
                </div>
                <%})%>
            </div>
          </div>
          </div>
        </section>
      </article>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>
</body>

</html>