<section class="section card1">
    <div class="linha">
        <h4>Merchandising</h4>
        <label class="switch">
            <input type="checkbox" v-model="transmissao.overlay_visibilidade" v-on:change="overlay_visibilidade_tx">

            <span class="slider"></span>
        </label>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#merchan_collapseOne" aria-expanded="true" aria-controls="merchan_collapseOne">
                    Lista
                </button>
            </h2>
            <div id="merchan_collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>
                        <div class="linha" style="justify-content: end;">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModalMerchan" data-bs-whatever="@mdo">Novo</button>
                        </div>
                        <ul class="lista">
                            <% merchans.forEach(merchan=> { %>
                                <label for="radio<%= merchan.id_merchan %>" class="item">
                                    <input type="radio" id="radio<%= merchan.id_merchan %>" name="opcao" class="radio"
                                        value="/pictures/merchan/<%= merchan.url %>"
                                        v-on:click="overlay_imagem_tx('/pictures/merchan/<%= merchan.url %>')">
                                    <img src="/pictures/merchan/<%= merchan.url %>" class="imagem">
                                    <a
                                        href="/delete_merchan?id=<%= merchan.id_merchan%>&id_transmissao=<%= transmissao.id_transmissao %>">
                                        <i class="fas fa-trash-alt"></i></a>
                                </label>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>